/*
  The current user's messages should have:
  - a text color of #FFF
  - a background color of #1185f7

  Other participant's messages should have:
  - a text color of #000
  - a background color of #e9e9eb
*/
.chat-message {
  display: flex;
  margin: 25px;
}
.chat-message.recieved {
  border: darkgoldenrod 3px solid;
}

.chat-text {
  display: inline;
  text-justify: auto;
}
.chat-box {
  display: flex;
  flex-direction: column;
}
.chat-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;

  margin-top: 5px;
}

.received-text {
  background-color: lightgray;
  border-radius: 10%;
  width: 300px;
}
.user-avatar {
  margin-right: 15px;
}
.sent-text {
  margin-left: 20%;
}

.sent {
  width: 300px;
  margin-left: 100px;
  border-radius: 5px;
  background-color: lightskyblue;
  border: 3px lightskyblue;
}

.user-avatar {
  height: 100px;
  width: 100px;
}

.user-avatar {
  border-radius: 50%;
  width: 10%;
  height: 10%;
}
